@model Logs.Web.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>If you're serious about lifting, you need to keep a workout log.</h2>
    <p class="lead">The workout log can reveal patterns of strength development, weight change, mental attitude, overtraining, and plateaus clearer than the most committed training partner. Every session, every set, and every rep you do in the gym should be recorded.</p>
    @*@if (Model.IsAuthenticated)
    {
        @Html.ActionLink("My Log", "MyLog", "Profile", null, new { @class = "btn btn-primary btn-lg" })
    }
    else
    {
        @Html.ActionLink("Get Started", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
    }

    @Html.ActionLink("Browse", "List", "Logs", null, new { @class = "btn btn-primary btn-lg" })*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Hottest</h2>
        @Html.Action("TopLogs", new { controller = "Logs" })
    </div>
    <div class="col-md-6">
        <h2>Latest</h2>
        @Html.Action("Latest", new { controller = "Logs" })
    </div>
</div>

@section landingpage{
    <link rel="stylesheet" href="~/Content/landing-page.css"/>
}