@using PagedList.Mvc
@model PagedList.IPagedList<Logs.Web.Areas.Administration.Models.UserViewModel>

@{
    ViewBag.Title = "Index";
}

<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().ProfileImageUrl)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LockoutEndDateUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IsAdministrator)
        </th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    <img src="@item.ProfileImageUrl" width="50" height="50" />
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEndDateUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdministrator)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { controller = "Profile", area = "", username = item.Username }) |
            </td>
            <td>
                @if (item.LockoutEndDateUtc.HasValue)
                {
                    @Html.ActionLink("Unban User", "Unban", new { controller = "UserAdministration", userId = item.UserId, page = Model.PageNumber }) @:|

                }
                else
                {
                    @Html.ActionLink("Ban User", "Ban", new { controller = "UserAdministration", userId = item.UserId, page = Model.PageNumber }) @:|
                }
            </td>
            <td>
                @if (item.IsAdministrator)
                {
                    @Html.ActionLink("Remove Admin", "RemoveAdmin", new { userId = item.UserId, page = Model.PageNumber })
                }
                else
                {
                    @Html.ActionLink("Make Admin", "AddAdmin", new { userId = item.UserId, page = Model.PageNumber })

                }
            </td>
        </tr>
    }

</table>
<div class="pages total">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", "UserAdministration",
        new { page = page }))
</div>