@model Logs.Web.Models.Nutrition.MeasurementViewModel

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeightKg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeightKg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BodyFatPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BodyFatPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Shoulders)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Shoulders)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Forearm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Forearm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Waist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Waist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hips)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hips)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thighs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thighs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calves)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calves)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Neck)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Neck)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wrist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wrist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ankle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ankle)
        </dd>

    </dl>
</div>
