@model Logs.Web.Models.Profile.UserProfileViewModel

@{
    ViewBag.Title = "Details";
}


<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            @Model.Username
            <small>@Model.Email</small>
        </h1>
        @if (Model.HasLog)
        {
            @Html.ActionLink("Log", "Details", "Logs", new { id = Model.LogId }, new { @class = "btn btn-default pull-right" })
        }
    </div>
</div>
<div class="row">
    @if (Model.CanEdit)
    {
        <a class="pull-right glyphicon glyphicon-edit btn-lg edit-button"></a>
    }
    <div class="col-md-6" id="picture-display">
        @if (!string.IsNullOrEmpty(Model.ProfileImageUrl))
        {
            <img id="profile-pic-img" src="@Model.ProfileImageUrl" alt="">
        }
        else
        {
            <img id="profile-pic-img" src="http://res.cloudinary.com/cwetanow/image/upload/v1489497076/download_gtavl2.png" alt="">
        }
        <hr />
        @Html.ActionLink("Change image", "Index", "Upload", null, new { @class = "btn btn-default" })
    </div>
    <div class="col-md-6" id="stats">
        @Html.Partial("_UserStatsPartial", Model)
    </div>
</div>

<div id="edit-stats" class="row">
    <hr />
    @using (Ajax.BeginForm("Edit", "Profile", null, new AjaxOptions
    {
        UpdateTargetId = "stats",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "POST"
    }, new { id = "edit-stats-form", enctype = "multipart/form-data" }))
    {
        @Html.TextAreaFor(m => m.Description, new { id = "user-description" })
        @:Age @Html.TextBoxFor(m => m.Age, new { @class = "user-stats-input" })
        @:Weight  @Html.TextBoxFor(m => m.Weight, new { @class = "user-stats-input" })
        @:Height   @Html.TextBoxFor(m => m.Height, new { @class = "user-stats-input" })
        @:Body Fat %  @Html.TextBoxFor(m => m.BodyFatPercent, new { @class = "user-stats-input" })
        <hr />
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.GenderType)
        <input type="submit" value="Edit" class="btn btn-primary" id="send" />
    }
</div>

@section scripts{
    <script>
        $('.edit-button')
            .click(function () {
                $('#send').show();
                $("#edit-stats").toggle();
            });

        $('#edit-stats-form')
           .submit(function () {
               $('#edit-stats').hide();
               $('#send').hide();
           });
    </script>

    @Scripts.Render("~/bundles/jquery-unobtrusive")
}