@model Logs.Web.Models.Logs.LogEntryViewModel

<div>
    @if (Model.CanEdit)
    {
        <a class="pull-right glyphicon glyphicon-edit btn-lg edit-entry-button"></a>
    }

    <h3>
        <span class="pull-right label label-primary">
            <span class="glyphicon glyphicon-time"></span> @string.Format(Logs.Common.Constants.WithPostedOnDateFormat, Model.EntryDate)
        </span>
    </h3>

    <span id="@($"entry{Model.EntryId}")" class="lead"> @Html.Raw("<pre>" + Model.Content + "</pre>")</span>
    @if (Model.CanEdit)
    {
        using (Ajax.BeginForm("EditEntry", "Entries", null,
                 new AjaxOptions
                 {
                     UpdateTargetId = $"entry{Model.EntryId}",
                     InsertionMode = InsertionMode.Replace,
                     HttpMethod = "POST"
                 }, new { @class = "edit-entry" }))
        {
            @Html.AntiForgeryToken()
            @Html.TextAreaFor(m => m.Content, new { cols = "40", rows = "20" })
            <br />
            @Html.HiddenFor(m => m.EntryId)
            <input type="submit" value="Edit" class="btn btn-primary" />
        }
    }
</div>
