@using System.Web.Mvc.Html
@using PagedList.Mvc

@model PagedList.IPagedList<Logs.Web.Models.Logs.LogEntryViewModel>

<div class="well" id="entries">
    @foreach (var entry in Model)
    {
        <h3>
            <span class="pull-right label label-primary">
                <span class="glyphicon glyphicon-time"></span> @string.Format("Posted on {0:MM dd, yyyy} at {0:HH:mm}", entry.EntryDate)
            </span>
        </h3>

        <span class="lead"> @Html.Raw("<pre>" + Html.Encode(entry.Content) + "</pre>")</span>
        <hr/>
        @Html.Partial("_EntryCommentsPartial", entry.Comments)
        <hr />
    }

    <div class="pages total">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Details", "Logs", new { page = page }), PagedListRenderOptions.ClassicPlusFirstAndLast)
    </div>
</div>