@model Logs.Web.Models.Logs.ShortLogViewModel

<div class="well">
    <h2 class="media-heading">
        @Html.ActionLink(Model.Name, "Details", new { controller = "Logs", id = Model.LogId })
    </h2>
    By  @Html.ActionLink(Model.Username,
                "Details",
                new { controller = "Profile", username = Model.Username },
                new { @class = "text-right" })
    <ul class="list-inline list-unstyled">
        <li><span><i class="glyphicon glyphicon-calendar"></i> @string.Format(Logs.Common.Constants.ShortDateFormat, Model.DateCreated)</span></li>
        <li>|</li>
        <li> <span><i class="glyphicon glyphicon-comment"></i> @Model.Entries</span></li>
        <li>|</li>
        <li>
            <span class="glyphicon glyphicon-star"></span> Rating: @Model.Votes
        </li>
        @Html.ActionLink(Model.Username,
                    "Details",
                    new { controller = "Profile", username = Model.LastActivityUser },
                    new { @class = "text-right pull-right" })
        <li class="pull-right"><span><i class="glyphicon glyphicon-calendar"></i> @string.Format(Logs.Common.Constants.ShortDateFormat, Model.LastActivity)</span></li>
        <li class="pull-right">Latest activity:</li>
    </ul>
</div>
