@model Logs.Web.Models.Navigation.NavigationViewModel

<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Logs", "List", "Logs")</li>
    <li>@Html.ActionLink("About", "About", "Home")</li>
    @if (Model.IsAdmin)
    {
        <li>@Html.ActionLink("Administration", "Index", "Administration")</li>
    }
</ul>

@if (Model.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + Model.Username + "!", "Details", "Profile", new { username = Model.Username }, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}

