@model Logs.Web.Models.Logs.LogDetailsViewModel

@if (!string.IsNullOrEmpty(Model.ProfileImageUrl))
            {
    <img id="profile-img" src="@Model.ProfileImageUrl" alt="">
}
<h1 class="text-center">


    @Model.Name
</h1>

@if (Model.CanEdit)
            {
    <a class="pull-right glyphicon glyphicon-edit btn-lg" id="edit-button"></a>
}
<p class="lead">


    @Html.ActionLink(Model.User,
                "Details",
                new { controller = "Profile", username = Model.User },
                new { @class = "text-right" })
</p>

<hr>
<span class="pull-right">
    <span class="glyphicon glyphicon-time"></span> @string.Format("Created on {0:D} at {0:HH:mm}", Model.DateCreated)
</span>


@Html.Partial("~/Views/Vote/Vote.cshtml", Model.VotesCount)

<hr>
<p class="lead">
    @Html.Raw("<pre>" + Html.Encode(Model.Description) + "</pre>")
</p>