@using Logs.Web.Models.Entries
@model Logs.Web.Models.Logs.LogDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row">

    <div class="col-lg-12">

        <h1>@Model.Name</h1>

        <p class="lead">
            @Html.ActionLink(Model.User,
                "Details",
                new { controller = "Profile", name = Model.User },
                new { @class = "text-right" })
        </p>

        <hr>
        <span class="pull-right">
            <span class="glyphicon glyphicon-time"></span> @string.Format("Created on {0:MM dd, yyyy} at {0:HH:mm}", Model.DateCreated)
        </span>

        <p><span class="glyphicon glyphicon-star"></span> @Model.VotesCount</p>

        <hr>
        <p class="lead">
            @Html.Raw(Model.Description)
        </p><hr>

        <p>
            <button class="btn btn-primary btn-lg" id="entries-btn">New Entry</button>
            @Html.ActionLink("New Entry", "MyLog", "Profile", null, new { @class = "btn btn-primary btn-lg" })
            @Html.ActionLink("Comment", "MyLog", "Profile", null, new { @class = "btn btn-primary btn-lg" })
        </p>
        <div id="entry-form">
            @Html.Partial("_NewEntryBoxPartial", new NewEntryViewModel { LogId = Model.LogId })
        </div>
        
        <hr/>

        <div id="comments">
            @if (Model.Entries.Count > 0)
            {
                @Html.Partial("_LogEntriesPartial", Model)
            }
        </div>
    </div>
</div>

@section scripts{
    <script>
        $('#entry-form').hide();

        $("#entries-btn")
            .click(function () {
                $('#entry-form').toggle();
            });
    </script>
}