@using Logs.Web.Models.Entries
@using Logs.Web.Models.Logs
@model Logs.Web.Models.Logs.LogDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<div class="row">

    <div class="col-lg-12">

        <h1>@Model.Name</h1>

        <a class="pull-right glyphicon glyphicon-edit btn-lg" id="edit-button"></a>

        <p class="lead">
            @Html.ActionLink(Model.User,
                "Details",
                new { controller = "Profile", name = Model.User },
                new { @class = "text-right" })
        </p>

        <hr>
        <span class="pull-right">
            <span class="glyphicon glyphicon-time"></span> @string.Format("Created on {0:MM dd, yyyy} at {0:HH:mm}", Model.DateCreated)
        </span>


        @Html.Partial("~/Views/Vote/Vote.cshtml", Model.VotesCount)

        <hr>
        <p class="lead">
            @Html.Raw("<pre id=\"description\">" + Html.Encode(Model.Description) + "</pre>")
        </p>
        @if (Model.IsOwner)
            {
            <div id="edit-form">
                <hr />
                @using (Ajax.BeginForm("Edit", "Logs", null,
                        new AjaxOptions
                        {
                            UpdateTargetId = "description",
                            InsertionMode = InsertionMode.Replace,
                            HttpMethod = "POST"
                        }, new { id = "edit" }))
                {
                    @Html.TextAreaFor(m => m.Description, new { cols = "40", rows = "20" })
                    <br />
                    @Html.HiddenFor(m => m.LogId)
                    <input type="submit" value="Edit" class="btn btn-primary" />
                }
            </div>
        }
        <hr>

        <p>
            @if (Model.IsOwner)
            {
                <button class="btn btn-primary btn-lg" id="entries-btn">New Entry</button>
            }

            @if (Model.IsAuthenticated)
            {
                <button class="btn btn-primary btn-lg" id="comment-btn">Comment</button>
            }



            @if (Model.CanVote)
            {
                @Ajax.ActionLink(" ",
                "Vote",
                new { controller = "Vote", logId = Model.LogId, currentVoteCount = Model.VotesCount },
                new AjaxOptions
                {
                    UpdateTargetId = "rating",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST"
                }, new { @class = "glyphicon glyphicon-thumbs-up pull-right btn-lg", id = "rating-btn" })
            }

        </p>
        @if (Model.IsOwner)
        {
            <div id="entry-form">
                @Html.Partial("_NewEntryBoxPartial", new NewEntryViewModel { LogId = Model.LogId })
            </div>
        }
        @if (Model.IsAuthenticated)
        {
            <div id="comment-form">
                @Html.Partial("_CommentBoxPartial", new NewCommentViewModel { LogId = Model.LogId })
            </div>
        }
        <hr />

        <div id="comments">
            @if (Model.Entries.Count > 0)
            {
                @Html.Partial("_LogEntriesPartial", Model.Entries)
            }
        </div>
    </div>
</div>

@section scripts{
    <script>
        $("#entries-btn")
            .click(function () {
                $('#entry-form').toggle();
            });
        $("#comment-btn")
            .click(function () {
                $('#comment-form').toggle();
            });

        $('#rating-btn')
            .click(function () {
                $('#rating-btn').hide();
            });

        $('#edit-button')
            .click(function () {
                $('#edit-form').toggle();
            });

        $('#edit')
            .submit(function() {
                $('#edit-form').toggle();
            });
    </script>

    @Scripts.Render("~/bundles/jquery-unobtrusive")
}